
<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="input-group no-border" style="width: 50%; align-content: center;">
                <input #box placeholder="Search a twitter user...">
                <button (click)="getUserProfile(box.value)" mat-raised-button
                    class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="height: 300px;" class="card card-profile">
                    <!-- <div class="card-avatar">
                       
                            <img class="img" src="{{user.profile_image_url_https}}"  alt="../../../../../assets/followers.png" />
                       
                    </div> -->
                    <div class="card-header card-header-warning">
                        <img class="img" src="{{user.profile_image_url_https}}"  />
                    </div>
                    <div class="card-body" *ngIf="user">
                        <h6 class="card-category text-gray"></h6>
                        <h4 class="card-title">{{user.user}}</h4>
                        <p class="card-description">{{user.description}}</p>
                        
                    </div>
                    <div class="card-footer">
                        <div class="stats" *ngIf="user.verified==='True'">
                            <i class="material-icons">supervised_user_circle</i> {{user.screen_name}} is  verified by Twitter
                        </div>
                        <div class="stats" *ngIf="user.verified==='False'">
                            <i class="material-icons" >supervised_user_circle</i> {{user.screen_name}} is not verified by Twitter
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="height: 300px;" class="card card-profile">
                    <!-- <div class="card-header card-header-warning">
                        
                    </div> -->
                    <div class="card-body" *ngIf="user">
                        <h4 class="card-title">Agreement Score</h4>
                        <div class="ct-chart" id="agreementScoreChart"></div>
                        <p class="card-description">Score : {{user.agreement_score}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">supervised_user_circle</i> {{user.agreement_score*100}}% followers
                            agreed with @{{user.screen_name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="height: 300px;" class="card card-profile">
                   
                    <div class="card-body" *ngIf="user">

                        <h4 class="card-title">Credibility Rating</h4>
                        <p class="card-description">Rating : {{credibility}}</p>

                    </div>
                    <div class="card-footer">

                        <div class="stats">
                            <i class="material-icons text-danger">mood</i>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="height: 300px;" class="card card-profile">
                   
                    <div class="card-body" *ngIf="user">

                        <h4 class="card-title">Impact for the Community</h4>
                        <ul style="text-align: left;"> 
                            <li >{{user.user}} is interested in <b>{{user.interested_category}}</b></li>
                            <li *ngIf="user.agreement_score > 0.5">Most of followers are <b>agreed with </b>{{user.user}} </li>
                            <li *ngIf="user.agreement_score < 0.5">Most of followers are <b>not agreed with</b> {{user.user}}</li>
                            <li *ngIf="user.agreement_score > 0.5">Looks like {{user.user}} is positively contributed on category of <b>{{user.interested_category}}</b> news.</li>
                            <li *ngIf="user.agreement_score < 0.5">Looks like {{user.user}} is negatively contributed on category of <b>{{user.interested_category}}</b> news.</li>
                        </ul>

                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img class="img" src="../../../../../assets/followers.png" />
                        </div>
                        <p style="font-size:15pt;" class="card-category">Number of followers</p>

                        <h4 style="margin-top: 25px;" class="card-title">{{user.followers_count}}

                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">mood</i>
                            <a href="javascript:void(0)">Number of followers</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img class="img" src="../../../../../assets/tweet.png" />
                        </div>
                        <p style="font-size:15pt;" class="card-category">Number of tweets</p>
                        <h4 style="margin-top: 25px;" class="card-title">{{user.status_count}}
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Number of tweets</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img class="img" src="../../../../../assets/calendar.png" />
                        </div>
                        <p style="font-size:15pt;" class="card-category">Profile Create Date</p>
                        <h4 style="margin-top: 25px;" class="card-title">{{user.created_at}}
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">{{user.profile_age}} Number of days older</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img class="img" src="../../../../../assets/friends.png" />
                        </div>
                        <p style="font-size:15pt;" class="card-category">Friends Count</p>
                        <h4 style="margin-top: 25px;" class="card-title">{{user.friends_count}}
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Number of friends are relatively low</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12" *ngIf="user">
            <div class="card" style="width:68rem;">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Followers Impressions about {{user.user}}</h4>
                    <p class="card-category">New tweets & replies after 15th September, 2019</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">

                            <th>Tweets/ Replies</th>
                            <th>Sentiment</th>
                            <th>Category</th>
                        </thead>
                        <tbody *ngIf="tweetItems">
                            <tr *ngFor="let item of tweetItems">

                                <td>{{item.tweet}}</td>
                                <td>{{item.sentiment}}</td>
                                <td>{{item.category}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                        <i class="material-icons">bug_report</i> Further Work:
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                        <i class="material-icons">code</i> Web Search
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                        <i class="material-icons">cloud</i> Super features
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Profile picture is unique. Cannot found it on the internet.</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Provided external link is active and recently updated.</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>External information are matched with recent tweets published by {{user.user}}
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="messages">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>One year later, assessing what was lost and what was found when
                                            a ravaging rain swept through metro Detroit
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="settings">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Flooded: One year later, assessing what was lost and what was found when
                                            a ravaging rain swept through metro Detroit
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>