
<div class="main-content">

    <div class="container-fluid">
        <br>
        <div style="margin: auto; max-width: 300px;">
            <div class="row">
                <div class="input-group no-border" >
                    <input style="border-radius: 30px;" #box placeholder="  Search by username...      ">
                    &nbsp;<button (click)="getUserProfile(box.value)" mat-raised-button
                        class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="height: 300px;" class="card card-profile">
                    <!-- <div class="card-avatar">
                       
                            <img class="img" src="{{user.profile_image_url_https}}"  alt="../../../../../assets/followers.png" />
                       
                    </div> -->
                    <div class="card-header card-header-warning">
                        <img class="img" src="{{user.profile_image_url_https}}"  />
                    </div>
                    <div class="card-body" *ngIf="user">
                        <h6 class="card-category text-gray"></h6>
                        <h4 class="card-title">{{user.user}}</h4>
                        <p class="card-description">{{user.description}}</p>
                        
                    </div>
                    <div class="card-footer">
                        <div class="stats" *ngIf="user.verified==='True'">
                            <i class="material-icons">supervised_user_circle</i> {{user.screen_name}} is  verified by Twitter
                        </div>
                        <div class="stats" *ngIf="user.verified==='False'">
                            <i class="material-icons" >supervised_user_circle</i> {{user.screen_name}} is not verified by Twitter
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="height: 300px;" class="card card-profile">
                    <!-- <div class="card-header card-header-warning">
                        
                    </div> -->
                    <div class="card-body" *ngIf="user" >
                        <h4 class="card-title">Agreement Score</h4>
                        <div class="ct-chart" id="agreementScoreChart" ></div>
                        <p class="card-description" *ngIf="user.status_count > 300">Agreement Score : {{user.agreement_score}}</p>
                        <p class="card-description" *ngIf="user.status_count < 300">Warning : Insufficient replies!</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">supervised_user_circle</i> {{user.agreement_score*100}}% followers
                            agreed with @{{user.screen_name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="height: 300px;" class="card card-profile">
                   
                    <div class="card-body" *ngIf="user">

                        <h4 class="card-title">Credibility Rating</h4>
                        <img style="width: 250px; height: 60px;  margin-top: 20px; margin-bottom: 30px;" *ngIf="credibility==5" class="img" src="../../../../../assets/5_star.png" />
                        <img style="width: 250px; height: 60px; margin-top: 20px; margin-bottom: 30px;" *ngIf="credibility==4" class="img" src="../../../../../assets/4_star.png" />
                        <img style="width: 250px; height: 60px;  margin-top: 20px; margin-bottom: 30px;" *ngIf="credibility==3" class="img" src="../../../../../assets/3_star.png" />
                        <img style="width: 250px; height: 60px;  margin-top: 20px; margin-bottom: 30px;" *ngIf="credibility==2" class="img" src="../../../../../assets/2_star.png" />
                        <img style="width: 250px; height: 60px;  margin-top: 20px; margin-bottom: 30px;" *ngIf="credibility==1" class="img" src="../../../../../assets/1_star.png" />
                        <p class="card-description">@{{user.screen_name}} can be rated as {{credibility}} star rated user</p>
                        
                    </div>
                    <div class="card-footer">

                        <div class="stats">
                            <i class="material-icons color_green">stars</i> Predicted rating from the system

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="height: 300px;" class="card card-profile">
                   
                    <div class="card-body" *ngIf="user">

                        <h4 class="card-title">Impact for the Community</h4>
                        <ul style="text-align: left;"> 
                            <li >{{user.user}} is interested in <b>{{user.interested_category}}</b></li>
                            <li *ngIf="user.agreement_score > 0.5">Most of followers are <b>agreed with </b>{{user.user}} </li>
                            <li *ngIf="user.agreement_score < 0.5">Most of followers are <b>not agreed with</b> {{user.user}}</li>
                            <li *ngIf="user.agreement_score > 0.5">Looks like {{user.user}} is positively contributed on category of <b>{{user.interested_category}}</b> news.</li>
                            <li *ngIf="user.agreement_score < 0.5">Looks like {{user.user}} is negatively contributed on category of <b>{{user.interested_category}}</b> news.</li>
                        </ul>

                    </div>
                    <div class="card-footer">

                        <div class="stats">
                            <i class="material-icons color_green">thumbs_up_down</i> Type of the person

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img class="img" src="../../../../../assets/followers.png" />
                        </div>
                        <p style="font-size:15pt;" class="card-category">Number of followers</p>

                        <h4 style="margin-top: 25px;" class="card-title">{{user.followers_count}}

                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">mood</i>
                            <a href="javascript:void(0)">Number of followers</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img class="img" src="../../../../../assets/tweet.png" />
                        </div>
                        <p style="font-size:15pt;" class="card-category">Number of tweets</p>
                        <h4 style="margin-top: 25px;" class="card-title">{{user.status_count}}
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Number of tweets</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img class="img" src="../../../../../assets/calendar.png" />
                        </div>
                        <p style="font-size:15pt;" class="card-category">Profile Create Date</p>
                        <h4 style="margin-top: 25px;" class="card-title">{{user.created_at}}
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">{{user.profile_age}} Number of days older</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img class="img" src="../../../../../assets/friends.png" />
                        </div>
                        <p style="font-size:15pt;" class="card-category">Friends Count</p>
                        <h4 style="margin-top: 25px;" class="card-title">{{user.friends_count}}
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Number of friends are relatively low</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12" *ngIf="user">
            <div class="card" style="width:68rem;">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Followers Impressions about {{user.user}}</h4>
                    <p class="card-category">New tweets & replies after 15th September, 2019</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">

                            <th>Tweets/ Replies</th>
                            <th>Sentiment</th>
                            <th>Category</th>
                        </thead>
                        <tbody *ngIf="tweetItems">
                            <tr *ngFor="let item of tweetItems">

                                <td>{{item.tweet}}</td>
                                <td>{{item.sentiment}}</td>
                                <td>{{item.category}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="content">
            <p style="text-align: center;font-size: 12px;">
                <br>
                <b>Disclaimer : We do not store any user information.</b>&nbsp;<a href="mailto:inbox.nishan@gmail.com?Subject=STRAINER%20ABUSE">Report abuse</a>
                <br>&copy; Copyright {{year}} AsyncWave Systems.
            </p>
        </div>
    </div>
</footer>  