.card-profile{
  margin-top: 30px;
  text-align: center;
    height: 40%;
    .rating-list li {
      float: right;
      color: #ddd;
      padding: 10px 5px;
    
    }
    
    .rating-list li:hover,
    .rating-list li:hover ~ li, .rating-list li.selected {
      color: #ffd700;
    }
    
    .rating-list {
      display: inline-block;
      list-style: none;
    }
    .star {
        position: relative;
        display: inline-block;
        font-size: 3rem;
        color: #d3d3d3;
      }
      .full {
        color: red;
      }
      .half {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: red;
      }
  .card-avatar {
      margin: -10px auto 0;
      border-radius: 50%;
      overflow: hidden;
      padding: 0;

      @include shadow-big();

      & + .card-body {
          margin-top: 15px;
      }
      img {
          width: 80px;
          height: 80px;
      }
  }

  .card-body + .card-footer {
      margin-top: -15px;
  }

  .card-footer {
      .btn.btn-just-icon {
          
          font-size: 20px;
          padding: 12px 12px;
          line-height: 1em;
      }
  }

  &.card-plain {
      .card-avatar {
          margin-top: 0;
      }
  }

  .card-header:not([class*="card-header-"]){
    background: transparent;
  }
  .card-avatar {
    max-width: 130px;
    max-height: 130px;
  }
}
