<h2 mat-dialog-title>What is STRAINER?</h2>
<mat-dialog-content class="mat-typography">
  <p>Strainer helps you to identify and detect social media platform manipulation by identifying credibility of the origin (user profile) and credibility of the content using sentiment analysis and machine learning, to determine the impact they made on social media and provide a forecast how it’s going to evolve.</p>

  <h3>How to send queries</h3>
  <p>
    <img src="../../../../../assets/animation-query.gif">
    <br>
    Type the screen name of the user and the tweet which you want to check for creibility, an then click 'SEND'.
    Then we will sen you a query Id, (keep it safe) use it to check the results as follows...
  </p>
  <h3>Check results</h3>
  <p>
    <img src="../../../../../assets/animation-check.gif">
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>OK</button>
</mat-dialog-actions>