.head-logo {
    display: flex;
    justify-content: center;
}

::ng-deep .mat-app-background {
    background-color:#01cd6d;
}

.center{
    width: 75%;
    margin: 10px auto;
}

.card-prop{
    width: 400px;
}

.example-full-width {
    width: 100%;
}