#container {
  width: 100px;
  height: 100px;
  position: relative;
}
#particles-js,
#over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#over {
  z-index: 10;
}
textarea {
  resize: none;
}

textarea  {
  overflow: hidden !important;
}

footer {
  background-color: rgba(51, 51, 51, 0.5);
  width: 100%;
  bottom: 0;
  position: fixed;
}

footer a {
  color: azure;
}
@media screen and (max-width: 480px) {
  img {
       width: 400px;
  }
}
.head-logo {
    display: flex;
    justify-content: center;
}

.head-logo img {
  max-width: 800px;
}

::ng-deep .mat-app-background {
    background-color:#01cd6d;
}

.center{
    width: 75%;
    margin: 10px auto;
}

.card-prop{
    width: 400px;
}

.example-full-width {
    width: 100%;
}