<mat-toolbar color="primary" class="mat-elevation-z8">
        <span>Strainer</span>
</mat-toolbar>
<div class="main-div">
    <mat-card class="mat-elevation-z8 card-prop">YOUR QUERY
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <textarea [matTextareaAutosize] matInput placeholder="Type here."></textarea>
            </mat-form-field>
            <br>
            <span>
                    <button mat-raised-button color="primary" routerLink="/home/dashboard">Send Query</button>
            </span>
            
        </form>
    </mat-card>
</div>

