h1 {
  color: #01cd6d;
}
.emp{
  color: #01cd6d;
}
.cont{
  display: inline-block;
}
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #01cd6d !important;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
